body {
  padding-top: 70px;
  font-family: 'Inconsolata', cursive;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  color: #803215;
}


.product-info-box {
  text-align: center;
}

.product-image-box {
}

.product-image-box img {
  margin: 0 auto;
}

.product-buy-box {
  text-align: center;
}


/*http://paletton.com/#uid=10e0u0kllllaFw0g0qFqFg0w0aF*/

